[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
psycopg2-binary = "*"
djangorestframework = "*"
requests = "*"
celery = "*"

[dev-packages]

[requires]
python_version = "3.8"
